<mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

<div class="container pt-3 pb-3">
    <div class="card m-0">
        <div class="card-header">
            <h4 class="p-0 m-0">Register Organization</h4>
        </div>


        <mat-stepper [orientation]="stepperOrientation" [linear]="isLinear" #stepper
            (selectionChange)="onStepChange($event)">

            <!-- Step 1 -->
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>
                        <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 0 }">Organization's
                            Details</span>
                    </ng-template>

                    <div class="row">
                        <div class="form-group mb-2 col-md-6">
                            <label class="mb-1">Organization's Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter org's name..."
                                [(ngModel)]="org_name" [ngModelOptions]="{standalone: true}">
                        </div>

                        <div class="form-group col-md-6">
                            <label class="mb-1">Organization's Email<span class="text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Enter org's email..."
                                [(ngModel)]="org_email" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        <button matStepperNext class="btn btn-secondary btn-sm">Next</button>
                    </div>
                </form>
            </mat-step>


            <!-- Step 2 -->
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>
                        <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 1 }">Application's
                            Details</span>
                    </ng-template>

                    <div class="row mb-3">
                        <div class="form-group mb-2 col-md-6">
                            <label class="mb-1">Application Count<span class="text-danger">*</span></label>
                            <input type="number" class="form-control" placeholder="Enter the number of applications..."
                                [(ngModel)]="application_count" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="UpdateApplications()">
                        </div>

                        <div class="col-md-6"></div>
                    </div>

                    <hr *ngIf="application_count!== null && application_count > 0">

                    <div class="row">
                        <div class="col-md-6 mb-2"
                            *ngFor="let app of applications; let i = index; trackBy: TrackByIndex">
                            <label>Application {{ i + 1 }} URL<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="applications[i]"
                                [ngModelOptions]="{standalone: true}" placeholder="Enter URL..." />
                        </div>
                    </div>


                    <div class="d-flex justify-content-end mt-3">
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-secondary btn-sm me-2" matStepperPrevious>Back</button>
                            <button class="btn btn-secondary btn-sm" matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
            </mat-step>


            <!-- Step 3 -->
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>
                        <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 2 }">Token Payload's
                            Details</span>
                    </ng-template>

                    <div class="row mb-3">
                        <div class="form-group mb-2 col-md-6">
                            <label class="mb-1">Payload's Instance Variable Count<span
                                    class="text-danger">*</span></label>
                            <input type="number" class="form-control"
                                placeholder="Enter the number of variable in payload..." [(ngModel)]="payload_count"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="UpdatePayloads()">
                        </div>

                        <div class="col-md-6"></div>
                    </div>

                    <hr *ngIf="payload_count!== null && payload_count > 0">

                    <div class="row">
                        <div class="col-md-6 mb-2"
                            *ngFor="let payload of payloads; let i = index; trackBy: TrackByIndex">
                            <label>Variable {{ i + 1 }} Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="payloads[i]"
                                [ngModelOptions]="{standalone: true}" placeholder="Enter Variable Name..." />
                        </div>
                    </div>


                    <div class="d-flex justify-content-end mt-3">
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-secondary btn-sm me-2" matStepperPrevious>Back</button>
                            <button class="btn btn-secondary btn-sm" matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
            </mat-step>


            <!-- Step 4 -->
            <mat-step [stepControl]="forthFormGroup">
                <form [formGroup]="forthFormGroup">
                    <ng-template matStepLabel>
                        <span [ngClass]="{ 'selected-step-label': selectedStepIndex === 3 }">Review & Save</span>
                    </ng-template>

                    <div class="row mb-3">
                        <div class="col-md-6 d-flex flex-column">
                            <span *ngIf="org_name !== null && org_name.trim() !== ''">Organization's Name : {{ org_name
                                }}</span>
                            <span *ngIf="org_email !== null && org_email.trim() !== ''">Organization's Email : {{
                                org_email }}</span>
                        </div>

                        <div class="col-md-6"></div>
                    </div>

                    <div class="row mb-3" *ngIf="application_count !== null && application_count > 0">
                        <div class="d-flex flex-column" *ngFor="let apps of applications; let i = index">
                            <span>Application URL {{ i + 1 }} : {{apps}}</span>
                        </div>
                    </div>


                    <div class="row" *ngIf="payload_count !== null && payload_count > 0">
                        <span>Token Payload = &#123;</span><br>
                        <div class="d-flex flex-column" *ngFor="let payload of payloads; let i = index">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;"{{ payload }}" : example_user_{{ payload }}</span>
                        </div>
                        <span>&#125;</span>
                    </div>

                    <div class="row">
                        <div class="form-group mb-2 col-md-6">
                            <label class="mb-1">Organization Password<span class="text-danger">*</span></label>

                            <input type="text" class="form-control" placeholder="Enter organization password..."
                                [(ngModel)]="org_password" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>


                    <div class="d-flex justify-content-end mt-3">
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-secondary btn-sm me-2" matStepperPrevious>Back</button>
                            <button class="btn btn-success btn-sm" (click)="RegisterOrganization()">Save</button>
                        </div>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>
    </div>
</div>