.mat-stepper-vertical {
    margin-top: 8px;
}

::ng-deep .selected-step-label {
    background-color: var(--light-blue) !important;
    color: #fff !important;
    padding: 0.5rem 1rem !important;
    border-radius: 6px !important;
    display: inline-block;
    transition: 0.1s all ease-in-out !important;
}

.stepper_button_of_middle {
    margin-right: 1rem;
}

::ng-deep .mat-step-icon {
    background-color: var(--light-blue) !important;
    color: var(--white) !important;
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}