<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow w-50">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Login</h3>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                    </div>

                    <div class="text-center mt-3 d-flex justify-content-end">
                        <button class="btn btn-primary btn-sm width_max_content">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>