@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}


/* For light theme: make navbar slightly darker */
[data-bs-theme="light"] .navbar {
    background-color: #eaeaea !important;
    /* a bit darker than default light body */
}

/* For dark theme: let Bootstrap default dark colors work */
[data-bs-theme="dark"] .navbar {
    background-color: #1a1d22 !important;
    /* lighter than default dark body */
}

:root {
    --black: #000000;
    --white: #ffffff;
    --light: #f1f1f1;
    --light1: #f8f8f8;
    --success: #2abe05;
    --failed: #fd0000;
    --warning: #f1b100;
    --light-blue: #007bff;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.width_max_content {
    width: max-content;
}

.cursor_pointer {
    cursor: pointer;
}

.overflow_hidden {
    overflow: hidden;
}

.overflow_auto {
    overflow: auto;
}

.overflow_scroll {
    overflow: scroll;
}

.overflow_x_auto {
    overflow-x: auto;
}

.overflow_y_auto {
    overflow-y: auto;
}

.overflow_x_scroll {
    overflow-x: scroll;
}

.overflow_y_scroll {
    overflow-y: scroll;
}