@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}


/* For light theme: make navbar slightly darker */
[data-bs-theme="light"] .navbar {
    background-color: #eaeaea !important;
}

[data-bs-theme="dark"] .navbar {
    background-color: #1a1d22 !important;
}

/* For light theme: make menubar slightly darker */
[data-bs-theme="light"] .sidebar  {
    background-color: #eaeaea !important;
}

[data-bs-theme="dark"] .sidebar  {
    background-color: #1a1d22 !important;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --light: #f1f1f1;
    --light1: #f8f8f8;
    --success: #2abe05;
    --failed: #fd0000;
    --warning: #f1b100;
    --light-blue: #007bff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.matProgressBar {
    border-radius: 50px;
    color: var(--light-blue);
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.width_max_content {
    width: max-content !important;
}

.cursor_pointer {
    cursor: pointer !important;
}

.overflow_hidden {
    overflow: hidden !important;
}

.overflow_auto {
    overflow: auto !important;
}

.overflow_scroll {
    overflow: scroll !important;
}

.overflow_x_auto {
    overflow-x: auto !important;
}

.overflow_y_auto {
    overflow-y: auto !important;
}

.overflow_x_scroll {
    overflow-x: scroll !important;
}

.overflow_y_scroll {
    overflow-y: scroll !important;
}