<div class="d-flex flex-column vh-100 overflow_y_auto justify-content-between">
    <div>
        <nav class="navbar w-100 px-3 pe-3 bg-body-tertiary">
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-bars me-2 fs-2 cursor_pointer" id="menu_toggle"></i>
                <h2 class="cursor_pointer fw-bold p-0 m-2" (click)="RedirectToHome()">LOCK IN ONE</h2>
            </div>

            <div>
                <input type="checkbox" class="dark-light-mode-checkbox" id="dark-light-mode-checkbox"
                    (change)="ToggleTheme()" [checked]="IsDarkMode">
                <label for="dark-light-mode-checkbox" class="dark-light-mode-checkbox-label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </nav>

        <mat-progress-bar mode="indeterminate" *ngIf="matProgressBarVisible" class="matProgressBar"></mat-progress-bar>

        <div class="d-flex flex-nowrap">
            <div id="show_menu" class="bg-light border-end">
                <nav class="nav nav-pills flex-column gap-2 p-2">
                    <a *ngFor="let m of Menu" class="nav-link" [routerLink]="[m.menu_route]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="selectedMenuId = m.menu_id">
                        {{ m.menu_name }}
                    </a>
                </nav>
            </div>

            <div class="flex-grow-1 p-3" id="router_outlet_body">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>


    <!-- Footer -->
    <footer class="bg-primary text-warning text-center py-3">
        <a href="https://linktr.ee/bhaskar_op" class="custom-link mb-0" target="_blank">
            Created by Bhaskar Nandy&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
    </footer>
</div>