.dark-light-mode-checkbox {
  opacity: 0;
  position: absolute;
}

.dark-light-mode-checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.dark-light-mode-checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.dark-light-mode-checkbox:checked+.dark-light-mode-checkbox-label .ball {
  transform: translateX(24px);
}

#show_menu {
  width: 250px;
  height: calc(100vh - 56px - 56px);
  /* 56px navbar + 56px footer */
  /* background-color: #f8f9fa; */
  transition: all 0.3s ease;
  overflow-y: auto;
}

#show_menu.collapsed {
  width: 0;
  overflow: hidden;
}

/* For mobile overlay behavior */
@media (max-width: 768px) {
  #show_menu {
    position: fixed;
    top: 56px;
    /* height of navbar */
    left: 0;
    height: calc(100vh - 56px - 56px);
    /* full height minus nav/footer */
    width: 250px;
    transform: translateX(0);
    z-index: 1050;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  }

  #show_menu.collapsed {
    transform: translateX(-100%);
  }
}

#router_outlet_body {
  height: calc(100vh - 56px - 56px);
  overflow-y: auto;
}

.custom-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  display: inline-block;
}

.custom-link:visited {
  color: #ffffff;
}

.custom-link:hover,
.custom-link:focus {
  color: #ffd900;
  text-decoration: none;
}

.custom-link:active {
  color: #ffd900;
}